* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {    
  background-color: rgba(0,123,255,.5);
}


.App {
  text-align: left;
}

.App-header {
  background: rgb(40, 37, 234);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  color: white;
}

.navbar {
  background-color: #e0e0e0;
}

.navbar-brand {
  color: rgb(40, 37, 234);
  font-size: calc(10px + 2vmin);
}

.navbar-brand:hover {
  color: rgb(40, 37, 234);
}

.nav-link {
  color: rgb(255, 255, 255);
  font-size: calc(5px + 2vmin);
  background-color:rgb(40, 37, 234);
  border-radius: 50px;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.App-link {
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
}
